.App {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
}

.map {
  width: 100%;
  height: 100%;
}

.loadingStuff {
  width: 100%;
  height: 100%;
}

.game {
  width: 100%;
  height: 100vh;
  display: grid;
}

.mapFunction {
  width: 100vw;
  height: 100vh;
}

.streetviewmap {
  width: 100%;
  height: 100%;
}

#nice {
  width: 30vw;
  height: 30vw;
  position: absolute;
  z-index: 100;
  display: grid;
  grid-template-rows: 90% 50px;
  transition: 0.2s ease-in;
  padding: 2px;
  min-width: 200px;
  min-height: 200px;
}

h1 {
  margin: 0;
}

#info {
  height: 100%;
  width: 100%;
  margin: auto;
  font-size: 1px;
  visibility: hidden;
  margin: auto;
}

#submitButton {
  width: 100%;
  height: 40px;
  max-height: 100%;
  visibility: visible;
  background-color: rgb(26, 240, 26);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  display: inline;
}

.game {
  display: none;
}

.resultsPage {
  width: 100%;
  height: 100vh;
  display: none;
}

#infoshown {
  width: 100%;
  height: 30vh;
  background-color: rgb(218, 214, 214);
  position: absolute;
  bottom: 0;
  display: none;
  border-radius: 10px;
  font-size: 1rem;
}

#infoshown h1 {
  margin: auto;
}

.roundcounter {
  width: 100px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10000;
  border-bottom-left-radius: 20px;
  text-align: center;
}

#menu {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#begin {
  width: 250px;
  height: 100px;
  margin: auto;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: xx-large;
  border: 1px solid white;
  border-radius: 10px;
  transition: 0.3s ease-in;
}

#begin:hover {
  border: 3px solid black;
  background-color: white;
  color: black;
  transition: 0.3s ease-in;
}
