html {
  overflow-x: hidden;
  overflow-y: hidden;
}
.App {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.map {
  width: 100%;
  height: 100%;
}

.loadingStuff {
  width: 100%;
  height: 100%;
}

.game {
  width: 100%;
  height: 100vh;
  display: grid;
  overflow-x: hidden;
  overflow-y: hidden;
}

.mapFunction {
  width: 100vw;
  height: 100vh;
}

.streetviewmap {
  width: 100%;
  height: 100%;
}

#nice {
  width: 20vw;
  height: 20vw;
  position: absolute;
  z-index: 100;
  display: grid;
  grid-template-rows: 100%;
  transition: 0.2s ease-in;
  padding: 0px;
  min-width: 200px;
  min-height: 200px;
}

#streetviewmap:hover {
  cursor: cell;
}

h1 {
  margin: 0;
}

#info {
  height: 100%;
  width: 100%;
  margin: auto;
  font-size: 0px;
  visibility: hidden;
  margin: auto;
  margin-top: 0;
}

#submitButton {
  width: 100%;
  height: 40px;
  max-height: 100%;
  visibility: visible;
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 0px;
  color: white;
  font-size: 30px;
  display: inline;
  font-family: "Bebas Neue", cursive;
  margin-top: 0;
}

.game {
  display: none;
}

#infoshown {
  width: 100%;
  max-width: 600px;
  height: 30vh;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
  display: none;
  border-radius: 10px;
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  font-family: "Bebas Neue", cursive;
  color: black;
}

#infoshown h1 {
  margin: auto;
}

.roundcounter {
  width: fit-content;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 10000;
  text-align: left;
  display: grid;
  grid-template-columns: auto auto;
}

.roundcounter p {
  width: 150px;
  height: 50px;
  margin: 0;
  margin: auto;
  text-align: center;
  line-height: 50px;
  padding-left: 4px;
  background: rgb(0, 0, 0);
  outline: solid rgb(255, 255, 255);
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: "Bebas Neue", cursive;
}

.roundcounter :nth-child(1) {
  border-bottom-left-radius: 5px;
}

#menu {
  width: 100vw;
  height: 100vh;
  display: none;
  background-image: url("./pictures/34-343222_4k-wallpaper-reddit-best-cool-wallpaper-hd-download.jpg");
  background-size: cover;
  background-position: center;
}

.menucontent {
  width: 400px;
  height: fit-content;
  max-width: 95vw;
  background: rgb(255, 255, 255);
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow-y: auto;
  padding-top: 20px;
  filter: drop-shadow(5px 5px 3px #55555a);
}

.howtoplay {
  width: 95%;
  height: fit-content;
  min-height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: "Bebas Neue", cursive;
  margin-top: 20px;
}

#howotoplay {
  width: 150px;
  height: 50px;
  border-radius: 40px;
  border: none;
  margin: auto;
  margin-top: 30px;
  overflow: hidden;
  filter: drop-shadow(5px 5px 1px #55555a);
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  background: yellow;
}

#howotoplay:hover {
  width: 155px;
  height: 55px;
  filter: drop-shadow(5px 5px 3px #55555a);
}

#playintro {
  width: 95%;
  height: fit-content;
  text-align: left;
  margin: auto;
  font-family: "Bebas Neue", cursive;
  display: none;
  transition: 1s ease-in;
  margin-top: 0;
}

#begin {
  width: 230px;
  height: 90px;
  margin: auto;
  background-color: rgb(3, 221, 21);
  color: rgb(255, 255, 255);
  font-size: xx-large;
  border: none;
  transition: 0.3s ease-in;
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 3px #55555a);
  border: 2px solid rgb(255, 255, 255);
}

#begin:hover {
  width: 240px;
  height: 100px;
  transition: 0.3s ease-in;
}

#percentage {
  margin: auto;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
}

#resultsPage {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: black;
  background-image: url("./pictures/34-343222_4k-wallpaper-reddit-best-cool-wallpaper-hd-download.jpg");
  background-size: cover;
}

.totalScore {
  width: 100%;
  height: 10px;
  text-align: center;
  margin: auto;
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 0;
}

.bar {
  width: 90%;
  max-width: 800px;
  height: 30px;
  background-color: rgb(255, 0, 0);
  margin: auto;
  margin-top: 0px;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 3px #55555a);
}

.outerline {
  width: 0%;
  height: 100%;
  border-radius: 10px;
  display: flex;
}

#loadinggif {
  width: 0%;
  height: 100%;
  background-color: rgb(81, 255, 0);
  animation: loading 4s;
  animation-fill-mode: forwards;
  border-radius: 10px;
  margin: auto;
  margin-left: 0;
  display: flex;
}

#total {
  animation-name: wobble;
  animation-duration: 2s;
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  margin: auto;
  filter: drop-shadow(0px 10px 3px #55555a);
}

@keyframes wobble {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    transform: translateX(20%) rotate(3deg);
  }
  45% {
    transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    transform: translateX(10%) rotate(2deg);
  }
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    transform: translateX(0%);
  }
}

h1 {
  margin: 0;
}

#currentRoundScore {
  padding-left: 10px;
}

#nextbutton {
  width: 180px;
  height: 55px;
  margin: auto;
  background-color: rgb(0, 255, 0);
  color: rgb(255, 255, 255);
  font-size: xx-large;
  border: 1px solid white;
  border-radius: 10px;
  transition: 0.3s ease-in;
  font-family: "Bebas Neue", cursive;
  margin-top: 0;
}

#nextbutton :hover {
  border: 3px solid black;
  background-color: white;
  color: black;
  transition: 0.3s ease-in;
}

#news {
  width: 180px;
  height: 70px;
  margin: auto;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: xx-large;
  border: 1px solid white;
  border-radius: 10px;
  transition: 0.3s ease-in;
  font-family: "Bebas Neue", cursive;
  margin-top: 0;
  filter: drop-shadow(5px 5px 3px #55555a);
  border: none;
}

#news:hover {
  border: 3px solid rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  transition: 0.3s ease-in;
}

.scorebar {
  width: 90%;
  height: 30px;
  background: rgb(255, 0, 0);
  margin: auto;
  border-radius: 10px;
  display: flex;
  border: none;
  margin-top: 0;
}

#realscorebar {
  width: 30%;
  height: 100%;
  margin: auto;
  border-radius: 10px;
  margin-left: 0;
}

#loadingscorebar {
  width: 100%;
  height: 100%;
  margin: auto;
  background: rgb(0, 255, 0);
  border-radius: 10px;
  margin-left: 0;
  animation: loading 4s;
  animation-fill-mode: forwards;
  font-size: 10px;
}

@keyframes loading {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

#loading-break {
  position: absolute;
  z-index: 10000000;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: none;
  background: rgb(0, 0, 0);
}

#breakimagg {
  width: 300px;
  margin: auto;
}

.resultsPageCont {
  width: 100%;
  height: fit-content;
  min-height: 400px;
  max-width: 99vw;
  display: flex;
  margin: auto;
}

.resultsPageContOne {
  width: 400px;
  height: fit-content;
  min-height: 400px;
  max-width: 99vw;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
}

#resultsPage {
  display: none;
}

#menu {
  display: flex;
}

#selectoptions {
  width: 50%;
  height: 50px;
  margin: auto;
  margin-top: 20px;
  margin-left: 0;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
}

.inputCountry {
  width: 90%;
  height: fit-content;
  margin: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  font-family: "Bebas Neue", cursive;
  margin-top: 20px;
}

#useless {
  width: fit-content;
  margin: auto;
  margin-right: 5px;
  height: 30px;
  line-height: 50px;
  text-align: left;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
}

@media only screen and (max-width: 600px) {
  .roundcounter {
    width: fit-content;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 10000;
    text-align: left;
    display: grid;
    grid-template-columns: auto;
  }
}
