.App {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  overflow-x: hidden;
}

.map {
  width: 100%;
  height: 100%;
}

.loadingStuff {
  width: 100%;
  height: 100%;
}

.game {
  width: 100%;
  height: 100vh;
  display: grid;
}

.mapFunction {
  width: 100vw;
  height: 100vh;
}

.streetviewmap {
  width: 100%;
  height: 100%;
}

#nice {
  width: 20vw;
  height: 20vw;
  position: absolute;
  z-index: 100;
  display: grid;
  grid-template-rows: 90% 50px;
  transition: 0.2s ease-in;
  padding: 2px;
  min-width: 200px;
  min-height: 200px;
}

h1 {
  margin: 0;
}

#info {
  height: 100%;
  width: 100%;
  margin: auto;
  font-size: 1px;
  visibility: hidden;
  margin: auto;
}

#submitButton {
  width: 100%;
  height: 40px;
  max-height: 100%;
  visibility: visible;
  background-color: rgb(26, 240, 26);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  display: inline;
}

.game {
  display: none;
}

.resultsPage {
  width: 100%;
  height: 100vh;
  display: none;
  grid-template-columns: auto;
}

#infoshown {
  width: 100%;
  height: 30vh;
  background-color: rgb(218, 214, 214);
  position: absolute;
  bottom: 0;
  display: none;
  border-radius: 10px;
  font-size: 1rem;
}

#infoshown h1 {
  margin: auto;
}

.roundcounter {
  width: fit-content;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10000;
  border-bottom-left-radius: 20px;
  text-align: left;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
}

#menu {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#begin {
  width: 250px;
  height: 100px;
  margin: auto;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: xx-large;
  border: 1px solid white;
  border-radius: 10px;
  transition: 0.3s ease-in;
}

#begin:hover {
  border: 3px solid black;
  background-color: white;
  color: black;
  transition: 0.3s ease-in;
}

#resultsPage {
  width: 100%;
  height: 100vh;
  display: none;
}

.totalScore {
  width: 100%;
  height: 10px;
  text-align: center;
  margin: auto;
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 0;
}

.bar {
  width: 90vw;
  max-width: 800px;
  height: 30px;
  background-color: black;
  margin: auto;
  margin-top: 0px;
  border-radius: 10px;
}

.outerline {
  width: 0%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
}

#loadinggif {
  width: 0%;
  height: 70%;
  background-color: rgb(51, 255, 0);
  animation: loading 4s;
  animation-fill-mode: forwards;
  border-radius: 10px;
  margin: auto;
  margin-left: 0;
}

#total {
  animation-name: wobble;
  animation-duration: 2s;
}

@keyframes loading {
  from {
    width: 0%;
  }

  to {
    width: 99%;
  }
}

@keyframes wobble {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    transform: translateX(20%) rotate(3deg);
  }
  45% {
    transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    transform: translateX(10%) rotate(2deg);
  }
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    transform: translateX(0%);
  }
}

#percentage {
  margin: auto;
  margin-top: 0px;
  height: 10px;
}

h1 {
  margin: 0;
}
